<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mocha Tests - Game Progress Logic</title>
  <link href="{{ url_for('static', filename='vendor/mocha.css') }}" rel="stylesheet" />
  <style>
    body {
      background-color: #121212;
      color: #e0e0e0;
    }

    #mocha-stats em {
      color: #bb86fc;
    }

    .test h2 {
      color: #e0e0e0;
    }

    .test.pass h2 {
      color: #03dac6;
    }
  </style>
</head>

<body>
  <div id="mocha"></div>

  <script src="{{ url_for('static', filename='vendor/chai.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/mocha.js') }}"></script>

  <script>
    // 3. Setup Mocha and explicitly attach expect to the global window object
    mocha.setup('bdd');
    window.expect = chai.expect;
  </script>

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

  <script src="{{ url_for('static', filename='js/test.js') }}"></script>

  <script>
    // Run the tests
    mocha.run();
  </script>
</body>

</html>